/*
 * File: global.sass
 * Project: sass
 * Created Date: Wednesday March 24th 2021
 * Author: Ronan (ronan.lashermes@inria.fr)
 * -----
 * Last Modified: Friday, 9th April 2021 9:53:41 am
 * Modified By: Ronan (ronan.lashermes@inria.fr>)
 * -----
 * Copyright (c) 2021 INRIA
 */

@import 'spectre.sass'

html
    height: 100%

body
    min-height: 100%

.full-height
    min-height: 100vh

iframe
    overflow: hidden

.divider
    margin-top: 20px
    margin-bottom: 20px

.explicit-link
    color: $link-color

a, a:visited, a:active
    color: inherit

.nav .nav-item a:hover, a:hover
    color: $link-color

.logo-img
    width: 25%
    margin: 8px
.logo-img-bigger
    width: 40%
    margin: 8px

.silm-banner
    width: 60%
    margin: 0px

.box
    display: flex
    flex-flow: column

.filler
    flex: 1 1 auto

.text-medium
    font-size: medium

.text-large
    font-size: x-large

.base-title
    margin: 10px

.portrait
    padding: 5px

.live
    margin: 40px

