{% extends "base.html" %}

{% block content %}

<h2>About</h2>

<p>The SILM seminar features presentations on the security at the software/hardware interface.<br>
Seminars are open to the public but the online diffusion may be restricted in some rare cases.</p>

<h2>Mailing list</h2>

<p>
To receive the announcement of the next seminar episode, register on our sympa server: 
<a href="https://sympa.inria.fr/sympa/subscribe/silm-seminar"><span class="explicit-link">sympa.inria.fr/sympa/subscribe/silm-seminar</span></a>.
<br>To unsubscribe from the list, send an email to <a href="mailto:sympa_inria@inria.fr?subject=unsubscribe silm-seminar"><span class="explicit-link">sympa_inria@inria.fr</span></a> with "unsubscribe silm-seminar" as the subject.
</p>

<h2>SILM thematic semester</h2>

<p>
The SILM seminar is one event among others under the umbrella of the SILM thematic semester.
You can find more information on the semester at <a href="https://silm.inria.fr/"><span class="explicit-link">silm.inria.fr</span></a>.
</p>

<h2>Contacts</h2>

<a href="mailto:ronan.lashermes@inria.fr">Ronan Lashermes (Inria)</a>
<br>
<a href="mailto:guillaume.hiet@centralesupelec.fr">Guillaume Hiet (CentraleSupélec)</a>

{% endblock content %}