{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }} - 
  <script type="text/javascript">
    var episode_date = moment('{{ section.extra.date }}')
    document.write(episode_date.format('LL'))
  </script>
</h1>

  {% for page in section.pages | reverse %}
    <a name={{ page.extra.speaker_name | slugify }}></a>
    <li><b>{{ page.extra.speaker_name }}</b>{% if page.extra.speaker_institution %} ({{ page.extra.speaker_institution }}){% endif %}: <u>{{ page.title }}</u> - 
      <script type="text/javascript">
        var episode_date = moment('{{ page.date }}')
        document.write("<b>" + episode_date.format('LT') + "</b>")

        var {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }} = new datebook.ICalendar({ // the javascript variable is built with the static engine (zola)
            title: "{{ page.title | safe }} - {{ page.extra.speaker_name }}",
            location: 'Online, on BigBlueButton: https://bbb.irisa.fr/b/ron-j6m-d9k with access code 763427',
            description: `{{ page.content | striptags | safe }}`,
            start: episode_date.toDate(),
            {% if page.extra.duration %}
            end: episode_date.add({{ page.extra.duration }}, 'minutes').toDate(),
            {% else %}
            end: episode_date.add(60, 'minutes').toDate(),
            {% endif %}
          })

        var alarm = {
          action: 'DISPLAY',
          trigger: {
            minutes: 5
          }
        }
        
        {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.addAlarm(alarm)


      </script>
      -
      <button class="btn btn-primary btn-sm" onclick="{{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.download()">Add to calendar</button>
    </li>

    <p></p>
    <div class="container">
      <div class="columns" >
        <div class="column col-1">
         
          {% for asset in section.assets %}
            {% if asset is matching(page.extra.speaker_name) %}
            <p>
              <img class="portrait hide-lg img-responsive" src="{{ resize_image(path=asset | trim_start_matches(pat='/'), width=200, height=200, op='fit') }}" />
            </p>
            {% endif %}
          {% endfor %}
          
        </div>
        <div class="column col-8">
          {{ page.content | safe}}

          {% if page.extra.links %}
            Relevant links:
            <ul>
            {% for l in page.extra.links %}
              {% set label_ptr = l ~ "_label" %}
              {% set type_ptr = l ~ "_type" %}
              {% set link_ptr = l ~ "_link" %}

              {% set link = page.extra[link_ptr] %}

              {% if page.extra[label_ptr] %}
                {% set label = page.extra[label_ptr] %}
              {% else %}
                {% set label = link %}
              {% endif %}

              {% if page.extra[type_ptr] %}
                {% set type = page.extra[type_ptr] %}
              {% else %}
                {% set type = "external-link-alt" %}
              {% endif %}


              <li><a href="{{ link }}"><i class="fas fa-{{ type }} mr-2"></i><span class="explicit-link">{{ label }}</span></a></li>
            {% endfor %}
            </ul>
          {% endif %}

          {% if page.extra.inria_video_link %}
            <iframe class="img-fit-contain p-centered" loading="lazy" width="768" height="500" scrolling="no" src="{{ page.extra.inria_video_link }}?iframe&hidedetail" frameborder="0"></iframe>
          {% endif %}
        </div>
      </div>

      
    </div>

    
    <div class="divider"></div>
  {% endfor %}
{% endblock content %}