{% extends "base.html" %}

{% block content %}
{% set s = get_section(path="season2/_index.md") %}

<!-- <h1>Security at the hardware/software interface</h1> -->

<h2>Ongoing season: {{ s.title }}</h2>


<div class="timeline">
   
  {% for subsection in s.subsections | reverse %}
  {% set ep = get_section(path=subsection) %}
  <div class="timeline-item">
    <div class="timeline-left">
      <a class="timeline-icon icon-lg" href="{{ ep.permalink | safe }}" id='{{ ep.title ~ "-a" | slugify }}'>
        <i id='{{ ep.title ~ "-icon" | slugify }}' class="icon"></i>
        <!-- icon-check -->
        <script type="text/javascript">
          var now = new Date();
          var episode_date_icon = new Date('{{ ep.extra.date }}');

          if(now > episode_date_icon) {
            document.getElementById('{{ ep.title ~ "-icon" | slugify }}').classList.add('icon-cross');
            document.getElementById('{{ ep.title ~ "-a" | slugify }}').classList.add('bg-error');
          }
          else {
            document.getElementById('{{ ep.title ~ "-icon" | slugify }}').classList.add('icon-check');
          }
        </script>
      </a>
    </div>
    <div class="timeline-content">
      <div class="tile tile-centered">
        <div class="tile-content text-break">
          <a href="{{ ep.permalink | safe }}">
            <p class="tile-title">{{ ep.title }}: 
              <script type="text/javascript">
                var episode_date = new Date('{{ ep.extra.date }}')
                var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                document.write(episode_date.toLocaleDateString(undefined, options))
              </script>
            </p>
          </a>
          {% for page in ep.pages | reverse %}
          <!-- <a href="{{ ep.permalink | safe }}/#{{ page.extra.speaker_name | slugify }}"> -->
            <div class="tile-subtitle mt-2 ml-2"><a href="{{ ep.permalink | safe }}#{{ page.extra.speaker_name | slugify }}"><b>{{ page.extra.speaker_name }}</b> ({{ page.extra.speaker_institution }}): <u> {{ page.title }} </u> - 

              <script type="text/javascript">
                var episode_date = moment('{{ page.date }}')
                document.write("<b>" + episode_date.format('LT') + "</b>")

                var {{ page.extra.speaker_name | slugify | replace(from='-', to='_') }} = new datebook.ICalendar({ // the javascript variable is built with the static engine (zola)
                    title: '{{ page.title }} - {{ page.extra.speaker_name }}',
                    location: 'Online, on BigBlueButton: https://bbb.irisa.fr/b/ron-j6m-d9k with access code 763427',
                    description: `{{ page.content | safe | striptags }}`,
                    start: episode_date.toDate(),
                    {% if page.extra.duration %}
                    end: episode_date.add({{ page.extra.duration }}, 'minutes').toDate(),
                    {% else %}
                    end: episode_date.add(60, 'minutes').toDate(),
                    {% endif %}
                  })
              </script>
              </a>
              -
              <button class="btn btn-primary btn-sm" onclick="{{ page.extra.speaker_name | slugify | replace(from='-', to='_') }}.download()">
                <!-- <i class="icon icon-time"><span class="tooltiptext">Add to calendar</span></i> -->
                Add to calendar
              </button>
            </div>
          <!-- </a> -->
          
              
          {% endfor %}
          
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}