{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }} - 
  <script type="text/javascript">
    var episode_date = moment('{{ section.extra.date }}')
    document.write(episode_date.format('LLLL'))
  </script>
</h1>

<h2>Live stream</h2>

<div class="container">
  <div class="columns" >
    <div class="column col-1">
    </div>

    <div class="column col-6">
      <video id=example-video width=600 height=300 class="video-js vjs-default-skin live" controls></video>
      <script src="{{ config.base_url }}/scripts/video.min.js"></script>
      <link rel="stylesheet" href="{{ config.base_url }}/css/video-js.min.css">

      <!-- Dash.js -->
      <script src="{{ config.base_url }}/scripts/dash.all.min.js"></script>

      <!-- videojs-contrib-dash script -->
      <script src="{{ config.base_url }}/scripts/videojs-dash.min.js"></script>

      <script>
          var player = videojs('example-video');

          player.ready(function() {
          player.src({
              src: 'http://qlf-silm.irisa.fr/dash/live.mpd',
              type: 'application/dash+xml'
          });

          player.play();
          });
      </script>
    </div>
  </div>
</div>

<h2>BigBlueButton</h2>

Alternatively, you can connect to our BigBlueButton instance: 
<a href="https://bbb.irisa.fr/b/ron-j6m-d9k"><span class="explicit-link">https://bbb.irisa.fr/b/ron-j6m-d9k</span></a>, with access code <b>763427</b>.

{% endblock content %}