{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<ul>
  {% for subsection in section.subsections | reverse %}
  {% set s = get_section(path=subsection) %}
  <li><a href="{{ s.permalink | safe }}">{{ s.title }} (
    <script type="text/javascript">
      var episode_date = moment('{{ s.extra.date }}')
      document.write(episode_date.format('LLLL'))
    </script>
    ):</a>

    {% for page in s.pages | reverse %}
      <a href="{{ s.permalink | safe }}#{{ page.extra.speaker_name | slugify }}">
        <div class="chip m-2">
          {% for asset in s.assets %}
          
            {% if asset is matching(page.extra.speaker_name) %}
            <img class="avatar avatar-sm" src="{{ resize_image(path=asset | trim_start_matches(pat='/'), width=200, height=200, op='fit') }}" />
            {% endif %}
          {% endfor %}
          {{ page.extra.speaker_name }}
        </div>
      </a>
    {% endfor %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}